//Importaciones
@import "../utilidades/variables";

// Navbar
nav {
	a {
		color: $color_1;
		text-decoration: none;
		margin: 0 15px;
		&:hover {
			text-decoration: underline;
		}
	}
}
// Logo
.logo {
	max-width: 100px;
	height: 50px;
	margin: 5px;
}
// Iconos redes Sociales
.social-icons {
	display: flex;
	align-items: center;
	a {
		color: $color_1;
		text-decoration: none;
		margin: 0 10px;
		font-size: 1.2em;
	}
}
