//Mixin
@mixin box-shadow($shadow...) {
	-webkit-box-shadow: $shadow;
	   -moz-box-shadow: $shadow;       
			box-shadow: $shadow;
  }
//Mapa Contenedor
.map-text-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	max-width: 100%;
	padding: 20px;
	
	
}
.text-container {
	max-width: 50%;
	text-decoration: none;
}
.map-container {
	max-width: 100%;
	@include box-shadow(2px 11px 19px -10px rgba(66, 68, 90, 1));
}
iframe {
	width: 600px;
	height: 300px;	
}